@model desafio_mvc.Models.Ingrediente

@{
    Layout = "_LayoutAdmin";
}

<h4 class="display-4">Editar Ingrediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div>
                @* <select class="form-select" asp-for="MedidaId" asp-items="ViewBag.Medida" required>
                    <option value="">
                    Selecione uma medida
                    </option>
                    </select> *@
            </div>
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">VOLTAR</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
