@model desafio_mvc.Models.Medida

@{
    Layout = "_LayoutAdmin";
}

<h1 class="display-4">Nova Medida</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Ex.: Xícara" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ADICIONAR" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">VOLTAR</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
